@charset "utf-8";
@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}

/* 초기화 */
html {overflow-y:scroll; background: #000;}
body {margin:0 auto;padding:0;font-size:0.75em;font-family:'Malgun Gothic', dotum, sans-serif;background:#fff; width: 780px; max-width:100%; }
html, h1, h2, h3, h4, h5, h6, form, fieldset, img {margin:0;padding:0;border:0}
h1, h2, h3, h4, h5, h6 {font-size:1em;font-family:'Malgun Gothic', dotum, sans-serif}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}

ul, dl,dt,dd {margin:0;padding:0;list-style:none}
legend {position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden}
label, input, button, select, img {vertical-align:middle;font-size:1em}
input, button {margin:0;padding:0;font-family:'Malgun Gothic', dotum, sans-serif;font-size:1em}
input[type="submit"] {cursor:pointer}
button {cursor:pointer}

textarea, select {font-family:'Malgun Gothic', dotum, sans-serif;font-size:1em}
select {margin:0}
p {margin:0;padding:0;word-break:break-all}
hr {display:none}
pre {overflow-x:scroll;font-size:1.1em}
a {color:#000;text-decoration:none}

*, :after, :before {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;  
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track{
    background: #e9e9e9;
    border-radius:2.5px
}
::-webkit-scrollbar-thumb{
    background: #5268A5;
    border-radius:2.5px
}

input[type=text],input[type=password], textarea {
-webkit-transition:all 0.30s ease-in-out;
-moz-transition:all 0.30s ease-in-out;
-ms-transition:all 0.30s ease-in-out;
-o-transition:all 0.30s ease-in-out;
outline:none;
}

input[type=text]:focus,input[type=password]:focus, textarea:focus,select:focus {
-webkit-box-shadow:0 0 5px #9ed4ff;
-moz-box-shadow:0 0 5px #9ed4ff;
box-shadow:0 0 5px #9ed4ff;
border:1px solid #558ab7 !important;
}

.placeholdersjs {color:#aaa !important}

/* 레이아웃 크기 지정 */
#hd, #wrapper, #ft {min-width:100%}

#hd_pop,
#hd_wrapper,
#tnb .inner,

#gnb .gnb_wrap,
#container_wr,
#ft_wr {width:100%}

/* 공통 - display none/block */
.is-hidden { display: none !important; }
.is-visible { display: block !important; }

/* 공통 - 뷰포트 (pc / mobile) 별 display none/block */
.pc-only { display: none; }
@media (min-width: 769px) { .pc-only { display: block !important; }}
.mobile-only { display: block; }
@media (min-width: 769px) { .mobile-only { display: none !important; }}

/* 팝업레이어 */
#hd_pop {z-index:1000;position:relative;margin:0 auto;height:0}
#hd_pop h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
.hd_pops {position:absolute;border:1px solid #e9e9e9;background:#fff}
.hd_pops img {max-width:100%}
.hd_pops_con {}
.hd_pops_footer {padding:0;background:#000;color:#fff;text-align:left;position:relative}
.hd_pops_footer:after {display:block;visibility:hidden;clear:both;content:""}
.hd_pops_footer button {padding:10px;border:0;color:#fff}
.hd_pops_footer .hd_pops_reject {background:#000;text-align:left}
.hd_pops_footer .hd_pops_close {background:#393939;position:absolute;top:0;right:0}

/* 상단 레이아웃 */

#tnb {border-bottom:1px solid #383838;margin:0 auto}
#tnb:after {display:block;visibility:hidden;clear:both;content:""}
#tnb .inner {margin:0 auto}

#hd_wrapper {position:relative;margin:0 auto;height:140px;zoom:1}
#hd_wrapper:after {display:block;visibility:hidden;clear:both;content:""}


.hd_sch_wr {float:left;padding:30px 0;width:445px;margin-left:65px}

#hd_define {float:left}
#hd_define:after {display:block;visibility:hidden;clear:both;content:""}
#hd_define li {float:left;font-size:1.083em;line-height:14px;border-right:1px solid #4a4a4a;position:relative;text-align:center;margin:15px 10px 15px 0;padding-right:10px}
#hd_define li:last-child {padding-right:0;margin-right:0;border-right:0}
#hd_define li a {display:inline-block;color:#919191}
#hd_define li.active a {color:#fff}


#hd_qnb {float:right;text-align:right}
#hd_qnb:after {display:block;visibility:hidden;clear:both;content:""}
#hd_qnb li {float:left;font-size:1.083em;line-height:14px;border-right:1px solid #4a4a4a;position:relative;text-align:center;margin:15px 10px 15px 0;padding-right:10px}
#hd_qnb li:last-child {padding-right:0;margin-right:0;border-right:0}
#hd_qnb li span {display:block;margin-top:5px;font-size:0.92em}
#hd_qnb li a {display:inline-block;color:#919191}
#hd_qnb .visit .visit-num {display:inline-block;line-height:16px;padding:0 5px;margin-left:5px;border-radius:10px;background:#da22f5;color:#fff;font-size:10px}


.hd_login {position:absolute;right:0;top:60px}
.hd_login li {float:left;margin:0 5px;border-left:1px solid #616161;padding-left:10px;line-height:13px}
.hd_login li:first-child {border-left:0}
.hd_login a {color:#fff}


/* 메인메뉴 */
#gnb {position: absolute; bottom: 0; bottom: 100px; left: 20px; right: 20px;  z-index: 10; height: 130px; background: linear-gradient(180deg, rgba(230, 234, 246, 0.4) 0%, rgba(111, 134, 214, 0.4) 100%);box-shadow: 0px 0px 8px rgba(82, 104, 165, 0.4); border-radius: 66px;}
#gnb .gnb_wrap {position: absolute; left: 0; right: 0; bottom: 0;}
#gnb .gnb_wrap #gnb_1dul {display: flex; justify-content: center; align-items: flex-end; gap:20px; padding-bottom: 50px;}
#gnb .gnb_wrap:hover, #gnb .gnb_wrap:focus, #gnb .gnb_wrap:active{z-index:3}
#gnb .gnb_1dli {}
#gnb .gnb_1dli:hover > a {color:#5268A5;
-webkit-transition:background-color 2s ease-out;
-moz-transition:background-color 0.3s ease-out;
-o-transition:background-color 0.3s ease-out;
transition:background-color 0.3s ease-out}

#gnb.sub{bottom: 0; left: 0; right: 0; background: #fff; border-radius:39.998px 39.998px 0 0 }
.gnb_1da {display:block;font-weight:bold;color:#080808;text-decoration:none; display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center;}
.gnb_1dli .img_wrap{text-align: center;}
.gnb_1dli p{color:#fff; font-size:18px; margin-top: 10px; font-weight:500}
.sub .gnb_1dli p{color:#5268A5}

.gnb_1dli{width: 110px;}
.gnb_1dli .on_img, .gnb_1dli p, .gnb_1dli.on .off_img{display: none;}
.gnb_1dli.on .on_img, .gnb_1dli.on p{display: block;}
.sub .gnb_1dli.on .img_wrap{border-radius:50%; box-shadow:0 0 6px 4px #E3E7EF}


.gnb_1dli_air .gnb_2da {}
.gnb_1dli_on .gnb_2da {}
.gnb_2da:focus, .gnb_2da:hover {color:#fff}
.gnb_1dli_over .gnb_2dul {display:block;left:0}
.gnb_1dli_over2 .gnb_2dul {display:block;right:0}
.gnb_wrap .gnb_empty {padding:10px 0;width:100%;text-align:center;line-height:2.7em;color:#080808}
.gnb_wrap .gnb_empty a {color:#5268A5;text-decoration:underline}
.gnb_wrap .gnb_al_ul .gnb_empty, .gnb_wrap .gnb_al_ul .gnb_empty a {color:#555}

/* 중간 레이아웃 */
#wrapper {}
#container_wr:after {display:block;visibility:hidden;clear:both;content:""}
#container_wr {margin:0 auto;zoom:1}
#aside {float:right;width:235px;padding:0;height:100%;margin:20px 0 20px 20px}

#container {position:relative;float:left;min-height:500px;height:auto !important;margin:20px 0 150px;font-size:1em;width:930px;zoom:1; padding: 0 40px;}
#container:after {display:block;visibility:hidden;clear:both;content:""}
#container_title {font-size:1.333em;margin:0 auto;font-weight:bold}
#container_title span {margin:0 auto 10px;display:block;line-height:30px}

@media(max-width:780px){
  #container{margin-bottom: 19.23vw; padding: 0 5.128vw;}
}

.lt_wr {width:32%}
.lt_wr:nth-child(3n+1) {clear:both}
.latest_wr {margin-bottom:20px}
.latest_wr:after {display:block;visibility:hidden;clear:both;content:""}
.latest_top_wr {margin:0 -10px 20px}
.latest_top_wr:after {display:block;visibility:hidden;clear:both;content:""}

/* 하단 레이아웃 */
#ft {background:#212020;margin:0 auto;text-align:center}
#ft h1 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#ft_wr {max-width:1240px;margin:0;padding:40px 0;position:relative;display:inline-block;text-align:left}
#ft_wr:after {display:block;visibility:hidden;clear:both;content:""}
#ft_wr .ft_cnt {width:25%;float:left;padding:0 20px}

#ft_link {text-align:left}
#ft_link a {display:block;color:#fff;line-height:2em;font-weight:bold}
#ft_company h2 {font-size:1.2em;margin-bottom:20px}
#ft_company {font-weight:normal;color:#e3e3e3;line-height:2em}
#ft_catch {margin:20px 0 10px}
#ft_copy {text-align:center;width:1200px;margin:0 auto;padding:20px 0;color:#5b5b5b;font-size:0.92em;border-top:1px solid #383838}
/*#top_btn {position:fixed;bottom:20px;right:20px;width:50px;height:50px;line-height:46px;border:2px solid #333;color:#333;text-align:center;font-size:15px;z-index:90;background:rgba(255,255,255,0.5)}
#top_btn:hover {border-color:#3059c7;background:#3059c7;color:#fff}
*/
/* 게시물 선택복사 선택이동 */
#copymove {}
#copymove .win_desc {text-align:center;display:block}
#copymove .tbl_wrap {margin:20px}
#copymove .win_btn {padding:0 20px 20px}
.copymove_current {float:right;background:#ff3061;padding:5px;color:#fff;border-radius:3px}
.copymove_currentbg {background:#f4f4f4}

/* 화면낭독기 사용자용 */
#hd_login_msg {position:absolute;top:0;left:0;font-size:0;line-height:0;overflow:hidden}
.msg_sound_only, .sound_only {display:inline-block !important;position:absolute;top:0;left:0;width:0;height:0;margin:0 !important;padding:0 !important;font-size:0;line-height:0;border:0 !important;overflow:hidden !important}

/* 본문 바로가기 */
#skip_to_container a {z-index:100000;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0;overflow:hidden}
#skip_to_container a:focus, #skip_to_container a:active {width:100%;height:75px;background:#21272e;color:#fff;font-size:2em;font-weight:bold;text-align:center;text-decoration:none;line-height:3.3em}

/* ie6 이미지 너비 지정 */
.img_fix {width:100%;height:auto}

/* 캡챠 자동등록(입력)방지 기본 -pc */
#captcha {display:inline-block;position:relative; width: 100%;}
#captcha legend {position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden}
#captcha #captcha_img {height:40px;border:1px solid #898989;vertical-align:top;padding:0;margin:0}
#captcha #captcha_mp3 {margin:0;padding:0;width:40px;height:40px;border:0;background:transparent;vertical-align:middle;overflow:hidden;cursor:pointer;background:url('../../../img/captcha2.png') no-repeat;text-indent:-999px;border-radius:3px}
#captcha #captcha_reload {margin:0;padding:0;width:40px;height:40px;border:0;background:transparent;vertical-align:middle;overflow:hidden;cursor:pointer;background:url('../../../img/captcha2.png') no-repeat 0 -40px;text-indent:-999px;border-radius:3px}
#captcha #captcha_key {margin:0 0 0 3px;padding:0 5px;width:90px;height:40px;border:1px solid #ccc;background:#fff;font-size:1.333em;font-weight:bold;text-align:center;border-radius:3px;vertical-align:top}
#captcha #captcha_info {display:block;margin:5px 0 0;font-size:0.95em;letter-spacing:-0.1em}

/* 캡챠 자동등록(입력)방지 기본 - mobile */
#captcha.m_captcha audio {display:block;margin:0 0 5px;width:187px}
#captcha.m_captcha #captcha_img {width:160px;height:60px;border:1px solid #e9e9e9;margin-bottom:3px;margin-top:5px;display:block}
#captcha.m_captcha #captcha_reload {position:static;margin:0;padding:0;width:40px;height:40px;border:0;background:transparent;vertical-align:middle;overflow:hidden;cursor:pointer;background:url('../../../img/captcha2.png') no-repeat 0 -40px;text-indent:-999px}
#captcha.m_captcha #captcha_reload span {display:none}
#captcha.m_captcha #captcha_key {margin:0;padding:0 5px;width:115px;height:29px;border:1px solid #b8c9c2;background:#f7f7f7;font-size:1.333em;font-weight:bold;text-align:center;line-height:29px;margin-left:3px}
#captcha.m_captcha #captcha_info {display:block;margin:5px 0 0;font-size:0.95em;letter-spacing:-0.1em}
#captcha.m_captcha #captcha_mp3 {width:31px;height:31px;background:url('../../../img/captcha2.png') no-repeat 0 0 ; vertical-align:top;overflow:hidden;cursor:pointer;text-indent:-9999px;border:none}

@media(max-width:780){
    #captcha.captcha{width: 100%;}
}

/* ckeditor 단축키 */
.cke_sc {margin:0 0 5px;text-align:right}
.btn_cke_sc {display:inline-block;padding:0 10px;height:23px;border:1px solid #ccc;background:#fafafa;color:#000;text-decoration:none;line-height:1.9em;vertical-align:middle;cursor:pointer}
.cke_sc_def {margin:0 0 5px;padding:10px;border:1px solid #ccc;background:#f7f7f7;text-align:center}
.cke_sc_def dl {margin:0 0 5px;text-align:left;zoom:1}
.cke_sc_def dl:after {display:block;visibility:hidden;clear:both;content:""}
.cke_sc_def dt, .cke_sc_def dd {float:left;margin:0;padding:5px 0;border-bottom:1px solid #e9e9e9}
.cke_sc_def dt {width:20%;font-weight:bold}
.cke_sc_def dd {width:30%}

/* ckeditor 태그 기본값 */
#bo_v_con ul {display:block;list-style-type:disc;margin-top:1em;margin-bottom:1em;margin-left:0;margin-right:0;padding-left:40px}
#bo_v_con ol {display:block;list-style-type:decimal;margin-top:1em;margin-bottom:1em;margin-left:0;margin-right:0;padding-left:40px}
#bo_v_con li {display:list-item}

/* 버튼 */
a.btn,.btn {line-height:35px;height:35px;padding:0 10px;text-align:center;font-weight:bold;border:0;font-size:1.4em;
-webkit-transition:background-color 0.3s ease-out;
-moz-transition:background-color 0.3s ease-out;
-o-transition:background-color 0.3s ease-out;
transition:background-color 0.3s ease-out}

a.btn01 {display:inline-block;padding:7px;border:1px solid #ccc;background:#fafafa;color:#000;text-decoration:none;vertical-align:middle}
a.btn01:focus, a.btn01:hover {text-decoration:none}
button.btn01 {display:inline-block;margin:0;padding:7px;border:1px solid #ccc;background:#fafafa;color:#000;text-decoration:none}
a.btn02 {display:inline-block;padding:7px;border:1px solid #3b3c3f;background:#4b545e;color:#fff;text-decoration:none;vertical-align:middle}
a.btn02:focus, .btn02:hover {text-decoration:none}
button.btn02 {display:inline-block;margin:0;padding:7px;border:1px solid #3b3c3f;background:#4b545e;color:#fff;text-decoration:none}

.btn_confirm {text-align:right} /* 서식단계 진행 */

.btn_submit {border:0;background:#5268A5;color:#fff;cursor:pointer;border-radius:3px}
.btn_submit:hover {background:#5268A5}
.btn_close {border:1px solid #dcdcdc;cursor:pointer;border-radius:3px;background:#fff}
a.btn_close {text-align:center;line-height:50px}

a.btn_cancel {display:inline-block;background:#969696;color:#fff;text-decoration:none;vertical-align:middle}
button.btn_cancel {display:inline-block;background:#969696;color:#fff;text-decoration:none;vertical-align:middle}
.btn_cancel:hover {background:#aaa}
a.btn_frmline, button.btn_frmline {display:inline-block;width:128px;padding:0 5px;height:40px;border:0;background:#434a54;border-radius:3px;color:#fff;text-decoration:none;vertical-align:top} /* 우편번호검색버튼 등 */
a.btn_frmline {}
button.btn_frmline {font-size:1em}

/* 게시판용 버튼 */
a.btn_b01,.btn_b01 {display:inline-block;color:#bababa;text-decoration:none;vertical-align:middle;border:0;background:transparent}
.btn_b01:hover, .btn_b01:hover {color:#000}
a.btn_b02,.btn_b02 {display:inline-block;background:#253dbe;padding:0 10px;color:#fff;text-decoration:none;border:0;vertical-align:middle}
a.btn_b02:hover, .btn_b02:hover {background:#0025eb}
a.btn_b03, .btn_b03 {display:inline-block;background:#fff;border:1px solid #b9bdd3;color:#646982;text-decoration:none;vertical-align:middle}
a.btn_b03:hover, .btn_b03:hover {background:#ebedf6}
a.btn_b04, .btn_b04 {display:inline-block;background:#fff;border:1px solid #ccc;color:#707070;text-decoration:none;vertical-align:middle}
a.btn_b04:hover, .btn_b04:hover {color:#333;background:#f9f9f9}
a.btn_admin,.btn_admin {display:inline-block;color:#d13f4a;text-decoration:none;vertical-align:middle} /* 관리자 전용 버튼 */
.btn_admin:hover, a.btn_admin:hover {color:#ff3746}


/* 기본테이블 */
.tbl_wrap table {width:100%;border-collapse:collapse;border-spacing:0 5px;background:#fff;border-top:1px solid #ececec;border-bottom:1px solid #ececec} 
.tbl_wrap caption {padding:10px 0;font-weight:bold;text-align:left}
.tbl_head01 {margin:0 0 10px}
.tbl_head01 caption {padding:0;font-size:0;line-height:0;overflow:hidden}
.tbl_head01 thead th {padding:20px 0;font-weight:normal;text-align:center;border-bottom:1px solid #ececec;height:40px}
.tbl_head01 thead th input {vertical-align:top} /* middle 로 하면 게시판 읽기에서 목록 사용시 체크박스 라인 깨짐 */
.tbl_head01 tfoot th, .tbl_head01 tfoot td {padding:10px 0;border-top:1px solid #c1d1d5;border-bottom:1px solid #c1d1d5;background:#d7e0e2;text-align:center}
.tbl_head01 tbody th {padding:8px 0;border-bottom:1px solid #e8e8e8}
.tbl_head01 td {color:#666;padding:10px 5px;border-top:1px solid #ecf0f1;border-bottom:1px solid #ecf0f1;line-height:1.4em;height:60px;word-break:break-all}
.tbl_head01 tbody tr:hover td {background:#fafafa}
.tbl_head01 a:hover {text-decoration:underline}

.tbl_head02 {margin:0 0 10px}
.tbl_head02 caption {padding:0;font-size:0;line-height:0;overflow:hidden}
.tbl_head02 thead th {padding:5px 0;border-top:1px solid #d1dee2;border-bottom:1px solid #d1dee2;background:#e5ecef;color:#383838;font-size:0.95em;text-align:center;letter-spacing:-0.1em}
.tbl_head02 thead a {color:#383838}
.tbl_head02 thead th input {vertical-align:top} /* middle 로 하면 게시판 읽기에서 목록 사용시 체크박스 라인 깨짐 */
.tbl_head02 tfoot th, .tbl_head02 tfoot td {padding:10px 0;border-top:1px solid #c1d1d5;border-bottom:1px solid #c1d1d5;background:#d7e0e2;text-align:center}
.tbl_head02 tbody th {padding:5px 0;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;background:#fff}
.tbl_head02 td {padding:5px 3px;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;background:#fff;line-height:1.4em;word-break:break-all}
.tbl_head02 a {}

/* 폼 테이블 */
.tbl_frm01 {margin:0 0 20px}
.tbl_frm01 table {width:100%;border-collapse:collapse;border-spacing:0}
.tbl_frm01 th {width:70px;padding:7px 13px;border:1px solid #e9e9e9;border-left:0;background:#f5f8f9;text-align:left}
.tbl_frm01 td {padding:7px 10px;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;background:transparent}
.wr_content textarea,.tbl_frm01 textarea,.form_01 textarea, .frm_input {border:1px solid #d0d3db;background:#fff;color:#000;vertical-align:middle;border-radius:3px;padding:5px;
-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075);
-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075);
box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075);
}
.tbl_frm01 textarea {padding:2px 2px 3px}
.frm_input {height:40px}

.full_input {width:100%}
.half_input {width:49.5%}
.twopart_input {width:385px;margin-right:10px}
.tbl_frm01 textarea, .write_div textarea {width:100%;height:100px}
.tbl_frm01 a {text-decoration:none}
.tbl_frm01 .frm_file {display:block;margin-bottom:5px}
.tbl_frm01 .frm_info {display:block;padding:0 0 5px;line-height:1.4em}
.frm_info.add_info { margin-top: 10px !important; padding: 8px 12px; background: #fff; border: 1px solid #ddd; border-radius: 6px; line-height: 1.6; }
.btn_info_toggle { display: block; margin: 5px 0 0 21px; font-size: 12px; color: #3f51b5; background: none; border: none; cursor: pointer; text-decoration: underline; }

/*기본 리스트*/
.list_01 ul {border-top:1px solid #ececec}
.list_01 li {border-bottom:1px solid #ececec;background:#fff;padding:10px 15px;list-style:none;position:relative}
.list_01 li:nth-child(odd) {background:#f6f6f6}
.list_01 li:after {display:block;visibility:hidden;clear:both;content:""}
.list_01 li:hover {background:#f9f9f9}
.list_01 li.empty_li {text-align:center;padding:20px 0;color:#666}

/*폼 리스트*/
.form_01 h2 {font-size:1.167em}
.form_01 li {margin-bottom:10px}
.form_01 ul:after,
.form_01 li:after {display:block;visibility:hidden;clear:both;content:""}
.form_01 .left_input {float:left}
.form_01 .margin_input {margin-right:1%}
.form_01 textarea {height:100px;width:100%}
.form_01 .frm_label {display:inline-block;width:130px}

/* 자료 없는 목록 */
.empty_table {padding:50px 0 !important;text-align:center}
.empty_list {padding:20px 0 ;color:#666;text-align:center}
.empty_list{padding: 300px 0;  display: flex; justify-content: center; flex-direction: column; align-items: center;}
.empty_list img{width: 80px;}
.empty_list .txt{margin-top: 48px; font-size:32px; line-height: 1.5; color:#4A5362; font-weight:500}
.empty_list .desc{margin-top: 16px; font-size:24px; line-height: 1.5; color:#6E7786}

@media (max-width:780px) {
    .empty_list {padding:2.778vw 0 ;color:#666;text-align:center}
    .empty_list{padding: 41.667vw 0;  display: flex; justify-content: center; flex-direction: column; align-items: center;}
    .empty_list img{width: 11.111vw;}
    .empty_list .txt{margin-top: 6.667vw; font-size:4.444vw; line-height: 1.5; color:#4A5362}
    .empty_list .desc{margin-top: 2.222vw; font-size:3.333vw; line-height: 1.5; color:#6E7786}

}
/* 필수입력 */
.required, textarea.required {background-image:url('../img/require.png') !important;background-repeat:no-repeat !important;background-position:right top !important}

/* 테이블 항목별 정의 */
.td_board {width:80px;text-align:center}
.td_category {width:80px;text-align:center}
.td_chk {width:30px;text-align:center}
.td_date {width:60px;text-align:center}
.td_datetime {width:110px;text-align:center}
.td_group {width:80px;text-align:center}
.td_mb_id {width:100px;text-align:center}
.td_mng {width:80px;text-align:center}
.td_name {width:100px;text-align:left}
.td_nick {width:100px;text-align:center}
.td_num {width:50px;text-align:center}
.td_numbig {width:80px;text-align:center}
.td_stat {width:60px;text-align:center}

.txt_active {color:#5d910b}
.txt_done {color:#e8180c}
.txt_expired {color:#ccc}
.txt_rdy {color:#8abc2a}

/* 새창 기본 스타일 */
.new_win {position:relative}
.new_win .tbl_wrap {margin:0 20px}
.new_win #win_title {font-size:1.3em;height:50px;line-height:30px;padding:10px 20px;background:#fff;color:#000;-webkit-box-shadow:0 1px 10px rgba(0,0,0,.1);
-moz-box-shadow:0 1px 10px rgba(0,0,0,.1);
box-shadow:0 1px 10px rgba(0,0,0,.1)}
.new_win #win_title .sv {font-size:0.75em;line-height:1.2em}
.new_win .win_ul {margin-bottom:15px;padding:0 20px}
.new_win .win_ul:after {display:block;visibility:hidden;clear:both;content:""}
.new_win .win_ul li {float:left;background:#fff;text-align:center;padding:0 10px;border:1px solid #d6e9ff;border-radius:30px;margin-left:5px}
.new_win .win_ul li:first-child {margin-left:0}
.new_win .win_ul li a {display:block;padding:8px 0;color:#6794d3}
.new_win .win_ul .selected {background:#5268A5;border-color:#5268A5;position:relative;z-index:5}
.new_win .win_ul .selected a {color:#fff;font-weight:bold}
.new_win .win_desc {position:relative;margin:10px;border-radius:5px;font-size:1em;background:#5268A5;color:#fff;line-height:50px;text-align:left;padding:0 20px}
.new_win .win_desc i {font-size:1.2em;vertical-align:baseline}
.new_win .win_desc:after {content:"";position:absolute;left:0;top:0;width:4px;height:50px;background:#2F3C6D;border-radius:3px 0 0 3px}
.new_win .frm_info {font-size:0.92em;color:#919191}
.new_win .win_total {float:right;display:inline-block;line-height:30px;font-weight:normal;font-size:0.75em;color:#5268A5;background:#f6f6f6;padding:0 10px;border-radius:5px}
/*
.new_win .new_win_con {margin:20px 0;padding:20px}
.new_win .new_win_con:after {display:block;visibility:hidden;clear:both;content:""}
.new_win .new_win_con2 {margin:20px 0}

.new_win .btn_confirm:after {display:block;visibility:hidden;clear:both;content:""}
.new_win .win_btn {text-align:center}
.new_win .cert_btn {margin-bottom:30px;text-align:center}
.new_win .btn_close {padding:0 20px;height:45px;overflow:hidden;cursor:pointer}
.new_win .btn_submit {padding:0 20px;height:45px;font-weight:bold;font-size:1.083em}
*/

/* 검색결과 색상 */
.sch_word {color:#fff;background:#ff005a;padding:2px 5px 3px;line-height:18px;margin:0 2px}

/* 자바스크립트 alert 대안 */
#validation_check {margin:100px auto;width:500px}
#validation_check h1 {margin-bottom:20px;font-size:1.3em}
#validation_check p {margin-bottom:20px;padding:30px 20px;border:1px solid #e9e9e9;background:#fff}

/* 사이드뷰 */
.sv_wrap {position:relative;font-weight:normal}
.sv_wrap .sv {z-index:1000;display:none;margin:5px 0 0;font-size:0.92em;background:#333;
-webkit-box-shadow:2px 2px 3px 0px rgba(0,0,0,0.2);
-moz-box-shadow:2px 2px 3px 0px rgba(0,0,0,0.2);
box-shadow:2px 2px 3px 0px rgba(0,0,0,0.2)}
.sv_wrap .sv:before {content:"";position:absolute;top:-6px;left:15px;width:0;height:0;border-style:solid;border-width:0 6px 6px 6px;border-color:transparent transparent #333 transparent}
.sv_wrap .sv a {display:inline-block;margin:0;padding:0 10px;line-height:30px;width:100px;font-weight:normal;color:#bbb}
.sv_wrap .sv a:hover {background:#000;color:#fff}
.sv_member {color:#333}
.sv_on {display:block !important;position:absolute;top:23px;left:0px;width:auto;height:auto}
.sv_nojs .sv {display:block}

/* 페이징 */
.pg_wrap {clear:both;float:left;display:inline-block}
.pg_wrap:after {display:block;visibility:hidden;clear:both;content:""} 
.pg {text-align:center}
.pg_page, .pg_current {display:inline-block;vertical-align:middle;background:#eee;border:1px solid #eee}
.pg a:focus, .pg a:hover {text-decoration:none}
.pg_page {color:#959595;font-size:1.083em;height:30px;line-height:28px;padding:0 5px;min-width:30px;text-decoration:none;border-radius:3px}
.pg_page:hover {background-color:#fafafa}
.pg_start {text-indent:-999px;overflow:hidden;background:url('../img/btn_first.gif') no-repeat 50% 50% #eee;padding:0;border:1px solid #eee}
.pg_prev {text-indent:-999px;overflow:hidden;background:url('../img/btn_prev.gif') no-repeat 50% 50% #eee;padding:0;border:1px solid #eee}
.pg_end {text-indent:-999px;overflow:hidden;background:url('../img/btn_end.gif') no-repeat 50% 50% #eee;padding:0;border:1px solid #eee}
.pg_next {text-indent:-999px;overflow:hidden;background:url('../img/btn_next.gif') no-repeat 50% 50% #eee;padding:0;border:1px solid #eee}
.pg_start:hover,.pg_prev:hover,.pg_end:hover,.pg_next:hover {background-color:#fafafa}

.pg_current {display:inline-block;background:#5268A5;border:1px solid #5268A5;color:#fff;font-weight:bold;height:30px;line-height:30px;padding:0 10px;min-width:30px;border-radius:3px}

/* cheditor 이슈 */
.cheditor-popup-window *, .cheditor-popup-window :after, .cheditor-popup-window :before {
-webkit-box-sizing:content-box;
-moz-box-sizing:content-box;
box-sizing:content-box;
}

/* Mobile화면으로 */
#device_change {display:block;margin:0.3em;padding:0.5em 0;border:1px solid #eee;border-radius:2em;background:#fff;color:#000;font-size:2em;text-decoration:none;text-align:center}

body{ position: relative; background: #FBFCFF; min-height:100vh; padding-top: 80px;}
body.has_subhd{padding-top: 185px;}
body.main_body{padding-top: 0;}
body  *{max-width: 100%; font-family:'Pretendard', sans-serif; line-height: 1.5; text-decoration: none; font-style:unset; color:#4A5362;}

.container{padding: 0 40px; position:relative; }
.pb{padding-bottom: 120px;}

@media(max-width:780px){
    body{padding-top: 10.256vw;}
    body.has_subhd{padding-top: 23.718vw;}
    .container{padding: 0 5.128vw;}
    .pb{padding-bottom: 15.385vw;}

}

/* 공통헤더 */
.sub_header{padding: 20px 0; position: fixed; top: 0; left: 50%; transform:translateX(-50%); z-index: 10; width:780px; max-width:100%; background: #fff;}
.sub_header .container{display: flex; justify-content: space-between;}
.sub_header h3{position: absolute; left: 50%; transform:translateX(-50%); bottom: 0px; font-size:28px;}
.sub_header .arr_prev{display: block; position: relative; width: 28px; height: 44px; border:none;}
.sub_header .arr_prev:before{content:''; position: absolute; left: 50%; top: 50%; transform:translate(-25%,-50%) rotate(-135deg); width: 31px; height: 31px; border-width:3px 3px 0 0; border-color:#93A2CB; border-style:solid}

.sub_tit{font-size:40px; color:#3B568C; font-weight:800}

.logo_side{text-align: right; margin-bottom: 40px;}
.logo_side img{width: 50%; max-width:300px}

.logo_center{text-align: center; padding: 60px 0 80px;}
.logo_center img{width: 70%; max-width:400px}

.frm_input {padding: 16px 30px; font-size:28px; height: auto; margin-bottom: 16px; border-radius:9px; border:1px solid #C1CAE3; background: #fff; background-image:none !important}


.btn_submit{display: block; width: 100%; padding: 26px 0; font-size:32px; font-weight:600; border-radius:16px; margin-top: 80.001px; height: auto; font-size:32px; padding: 24px 0;}

@media(max-width:780px){
    .sub_header{padding: 5.128vw 0 2.564vw;}
    .sub_header h3{font-size:3.59vw; bottom: 2.564vw;}
    .sub_header .arr_prev{width: 7.179vw; height: 11.282vw;}
    .sub_header .arr_prev:before{width: 3.974vw; height: 3.974vw; border-width:0.385vw 0.385vw 0 0; }

    .logo_side{margin-bottom: 10.257vw;}
    .logo_center{padding: 10.257vw 0 15.385vw;}

  .frm_input {padding: 2.051vw 3.846vw; font-size:3.59vw; height: auto; margin-bottom: 2.051vw; border-radius:1.154vw}

     .btn_submit{display: block; width: 100%;font-size:4.103vw; font-weight:600; border-radius:2.051vw; margin-top: 10.256vw; height: auto; padding: 3.077vw 0;}
}

/* main */


@keyframes comet {
    0%{height: 0;}
    100%{height: 100vh;}
}
@keyframes fadein {
    0%{opacity:0}
    100%{opacity:1}
}
@keyframes blink {
    0%{opacity:0}
    50%{opacity:1}
    100%{opacity:0}
}

.obj_cover img{width: 100%; height: 100%; object-fit:cover}

.delay1{animation-delay:.3s}
.delay2{animation-delay:.6s}
.delay3{animation-delay:.9s}
.delay4{animation-delay:1.2s}

.star_delay1{animation-delay:1.4s}
.star_delay2{animation-delay:1.6s}
.star_delay3{animation-delay:1.8s}
.star_delay4{animation-delay:2s}
.star_delay5{animation-delay:2.2s}
.star_delay6{animation-delay:2.4s}
.star_delay7{animation-delay:2.6s}
.star_delay8{animation-delay:2.8s}
.star_delay9{animation-delay:3s}
.star_delay10{animation-delay:3.2s}
.star_delay11{animation-delay:3.4s}
.star_delay12{animation-delay:3.6s}
.star_delay13{animation-delay:3.8s}

body.main_wrap{position: relative; width:100vw; margin: 0 auto; background: url('../../../img/sahan/bg.png') no-repeat center bottom/contain; max-width:100%;}
.main_wrap{overflow:hiddenn;}
.main_wrap .container{position: absolute; top: 0; left: 0; right: 0; bottom: 0;}
.main_wrap img{width: 100%;}
.main_wrap .bg{width: 100%; height: 100%; object-fit: cover;}
.main_wrap .bg_comet{position: absolute; left: 0; bottom: 0; right: 0; overflow: hidden; animation-name: comet; animation-duration: 5s; animation-fill-mode: forwards; height:0; }
.main_wrap .bg_comet img{position: absolute; bottom: 0; object-fit: cover;}
.main_wrap .bg_comet.comet2{animation-duration: 8s;}
.main_wrap .star{position: absolute; left: 0; top: 0; right: 0; bottom: 0;}
.main_wrap .star img{position: absolute; left: 0; top: 0; animation-name:blink; animation-duration:2s; animation-iteration-count: infinite;}
.main_wrap .dot_wrap{position: absolute; left: 0; top: 0; right: 0; bottom: 0;}
.main_wrap .dot_wrap div[class^="dot"] img{opacity:0; position: absolute; left: 0; bottom: 0; width: 100%; animation-name:fadein; animation-duration:.3s; animation-fill-mode: forwards; animation-iteration-count: 1;}

.btn_search_open{position: absolute; top: 88px; right: 80px; z-index: 10;}
.btn_search{width: 40px; height: 44px; background: none; border:none;}
.btn_search .ico_search{position: relative; display: block; width: 36px; height: 36px; }
.btn_search .ico_search:before{content:''; position: absolute; top: 0; left: 0; width: 32px; height: 32px; border:3px solid #fff; border-radius:50%}
.btn_search .ico_search:after{content:''; position: absolute; right: 0; bottom: 0; width: 38%; height: 2px; background: #fff; border-radius:1px; transform:rotate(45deg) translateY(-100%)}

.hd_search{position: absolute; top: 80px; left: 40px; right: 40px; border:2px solid #fff; border-radius:136px; z-index: 10; display: none;}
.hd_search form{display: flex; padding: 8px 40px;}
.hd_search form input{display: block; width: 100%; background: none; border:none; font-size: 28px; line-height: 1.5; color:#fff;}
.hd_search form input::placeholder{color:#fff;}
.hd_search form button{position: static;}

.hd_search form input:focus,
.hd_search form button:focus{border:none; outline:none;}




h1.main_logo{position: absolute; left: 50%; top: 25%; transform:translateX(-50%); opacity:0; animation:fadein 1s 4s forwards; z-index: 2;}
.list_sentence{position: absolute; top: 35%; left: 50%; transform:translateX(-50%); opacity:0; animation:fadein 1s 5s forwards; width: 100%; padding: 0 5%; overflow: hidden;}
.list_sentence li{background: rgba(0,0,0,.4); border-radius:20px; padding: 24px 32px;}
.list_sentence p{ color:#fff; font-size:28px;}
.list_sentence p.lt_date{font-size:20px; margin-bottom: 20px; display: flex; justify-content: space-between; align-items: center;}
.list_sentence .lt_cont > p{max-height:240px; overflow: auto;}
.list_sentence .send{margin-top: 40px; display: flex; justify-content: space-between;}
.list_sentence .send p,
.list_sentence .send p span{white-space: nowrap; color:#fff; font-size:18px; line-height: 1.3;}
.list_sentence .send p.from{padding-right: 50px;}
.list_sentence .send p.to{padding-left: 50px;}
.list_sentence .btn_bookmark img{width: 100%; height: auto;}
.list_sentence .btn_bookmark{filter:invert(1)}
.btn_bookmark{border:none; background: none; width: 44px; opacity:.4}
.btn_bookmark.is_bookmarked{opacity:1; filter:invert(0)}

#logo{text-align: right; margin-bottom: 20px;}
#logo a{display: block;}
#logo img{height: 60px; }

@media(max-width:780px){
    body.main_body{width: 100%; height: 100vh; overflow: hidden;}
    #wrapperr{position: relative;}
    .main_wrap img{height: 100vh;}
    .main_wrap .bg_comet img{object-fit: cover; }
    .btn_search_open{position: absolute; top: 11.282vw; right: 10.256vw; z-index: 10;}
    .btn_search{width: 5.128vw; height:5.641vw; background: none; border:none;}
    .btn_search .ico_search{position: relative; display: block; width: 4.615vw; height: 4.615vw; }
    .btn_search .ico_search:before{content:''; position: absolute; top: 0; left: 0; width: 4.103vw; height: 4.103vw; border:2px solid #fff; border-radius:50%}
    .btn_search .ico_search:after{content:''; position: absolute; right: 0; bottom: 0; width: 38%; height:2px; background: #fff; border-radius:1px; }
    
    .hd_search{position: absolute; top: 10.256vw; left: 5.128vw; right: 5.128vw; border:0.256vw solid #fff; border-radius:17.436vw; z-index: 10; display: none;}
    .hd_search form{display: flex; padding: 1.026vw 5.128vw;}
    .hd_search form input{display: block; width: 100%; background: none; border:none; font-size: 3.59vw; }
    .hd_search form button{position: static;}

    .hd_search form input:focus,
    .hd_search form input:active,
    .hd_search form button:active,
    .hd_search form button:focus{border:none !important; outline:none; box-shadow: none;}

    h1.main_logo{position: absolute; left: 50%; top: 25%; transform:translateX(-50%); }
    .list_sentence li{ border-radius:2.564vw; padding: 3.077vw 4.103vw;}
    .list_sentence p{ color:#fff; font-size:3.889vw;}
    .list_sentence p.lt_date{font-size:3.333vw; margin-bottom: 2.564vw;}
    .list_sentence .lt_cont > p{max-height:33.333vw;}
    .btn_bookmark{border:none; background: none; width: 5.641vw;}

    .list_sentence .send{margin-top: 5.556vw; }
    .list_sentence .send .arr:after{width: 1.667vw; height: 1.667vw;}
    .list_sentence .send p,
    .list_sentence .send p span{font-size:2.5vw;}
    .list_sentence .send p.from{padding-right: 6.944vw;}
    .list_sentence .send p.to{padding-left: 6.944vw;}

    #gnb{position: fixed; bottom: 12.821vw; left: 2.564vw; right: 2.564vw; height: 16.667vw;  z-index: 10; background: linear-gradient(180deg, rgba(230, 234, 246, 0.4) 0%, rgba(111, 134, 214, 0.4) 100%);box-shadow: 0vw 0vw 1.026vw rgba(82, 104, 165, 0.4); border-radius: 8.462vw;}
    #gnb .gnb_wrap #gnb_1dul {display: flex; justify-content: center; align-items: flex-end; gap:2.564vw; padding-bottom: 6.41vw;}

    .gnb_1dli{width: 14.103vw;}
    .gnb_1dli p{color:#fff; font-size:2.308vw; margin-top: 1.282vw; font-weight:500}

    #gnb.sub{bottom: 0; left: 0; right: 0; background: #fff; border-radius:5.128vw 5.128vw 0 0 }
    .sub .gnb_1dli.on .img_wrap{border-radius:50%; box-shadow:0 0 0.769vw 0.513vw #E3E7EF}
    .gnb_1dli .on_img{width: 9.744vw;}
    .gnb_1dli .off_img{width: 14.103vw;}

    #logo img{height: 11.692vw; }
}